﻿@charset "UTF-8";
body {
    font: 100%/1.4  "ヒラギノ角ゴ ProN W3", "HiraginoKakuProN-W3", YuGothic, '游ゴシック', "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
    margin: 0;
    padding: 0;
    border-style:none;
}

/*　テキスト　*/

p{
    font-size:0.9rem;
    line-height:25px;
}

p.third {
    font-size: 15px;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}

/*　リンク　*/

a:link{
    color:#fff;
    text-decoration: none;
}

a:visited{
    color:#fff;
    text-decoration: none;
}

a:hover{
    color:#fff;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    opacity:0.5;
    text-decoration: none;
}

.head a:link{
    color:#000;
    text-decoration: none;
}

.head a:visited{
    color:#000;
    text-decoration: none;
}

.head a:hover{
    color:#000;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    opacity:0.5;
    text-decoration: none;
}

/*　content　*/

.content{
    width:880px;
    margin:0 auto;
}


/*　head　*/

.head{
    padding:85px 0 ;
}

.sns{
    margin-left:-100px;
}

.more{
    margin-left:-200px;
    font-size:9pt;
}


/*　営業情報　*/

h2 {
    margin-top:0;
    padding-top:0;
}

h3{
    font-size:16px;
    font-weight:bold;
    margin-top:0;
    padding-top:0;
}

.area01{
    padding-top:25px;
    padding-bottom:30px;
    background-color:#C7161E;
    overflow:hidden;
    clear:both;
}

.time{
    margin-top:20px;
    color:#FFFFFF;
}

@media screen and (max-width: 766px) {

    .time{
        margin-top:20px;
        color:#FFFFFF;
        width:100%;
    }

    .address{
        width:100%;
        margin:20px 0;
        border-top:#FFFFFF solid 2px;
        color:#FFFFFF;
        padding-top:40px;
    }

    .area01{
        padding:25px 10px 10px 10px;
    }
}

@media screen and (min-width: 765px) {

    .time{
        margin-top:20px;
        color:#FFFFFF;
        padding-left:70px;
    }

    .address{
        margin-top:20px;
        width:50%;
        border-left:#FFFFFF solid 2px;
        padding-left:50px;
        color:#FFFFFF;
    }
}



/*　経営理念　*/

.area02{
    background:#0071BC;
    overflow:hidden;
    clear:both;
}

.content02{
    padding:56px ;
}


/*　会社概要　*/

.area03{
    background:#B3E0FF;
    clear:both;
    padding:56px 0;
}

.content03{
    margin:0 auto;
    font-size:0.8rem;
    line-height:1.2rem;
}

.table.gaiyouTable{
    width:100%;
    font-size:13px;
}


.table.gaiyouTable th{
    width:16%;
    text-align: left;
    border-right:#FFFFFF solid 2px;
}

.table.gaiyouTable td{
    width:84%;
    list-style-type:none;
    padding:6px 0 0.5rem 3rem;
    border:none;
}

.table.gaiyouTable ul{
    list-style-type:none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top:none;
    border-bottom:none;
}

.table-responsive {
    border:none;
}

/*　フッター　*/

#footer{
    padding:36px 0
}